*
{
    margin: 0px;
    padding: 0px;
}
body
{
  
    background-image: url("images/bg-intro-desktop.png");
}

.parent
{
     width: 1280px;
     height:610px; 
    
     background: rgb(231, 8, 8,0.6);

}
.child
{
    display: flex;
    position: relative;
    top: 20%;
    /* background-color: lime; */
    justify-content: space-evenly;
    align-items: center;
}
.grchild1
{
    height: 400px;
    width: 300px;
    /* background-color: lightgreen; */

}
.grchild2
{
    height: 400px;
    width: 600px;
    /* background-color: lightgreen; */

} 
.text
{
    position: relative;
    top: 15%;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
}
p
{
    color: white;
    text-align:right;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    
}
.form
{
    height: 400px;
    width: 400px;
    position: relative;
    left: 15%;
    top: -50px;
    border-radius: 20px;
    background-color: linen;
}
input
{
    display: block;
    text-align: center;
    margin: 30px 30px 30px 30px;
    width: 340px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    font-size: larger;
}
.in
{
    position: relative;
    top: 10%;
}
.btn
{
    width: 340px;
    height: 40px;
    background-color:  green;
    margin-left: 22px;
    border-radius: 5px;
}
.btn p
{
    text-align: center;
    line-height: 40px;
 

     
}
.blue
{
    position: relative;
    top: 80px;
    left: 660px;
    width: 360px;
    height: 40px;
    background-color:darkblue;
    border-radius:5px ;
}
.blue p
{
        text-align: center;
       line-height: 40px;
    font-weight:600;

}